## Importing Libraries

In [4]:
#libraries for importing and processsing
import pandas as pd
import numpy as np

In [5]:
print(pd.__version__)

2.2.3

In [6]:
print(np.__version__)

2.1.2

## Loading Data

In [7]:
data = pd.read_csv("Datasets/Iris_data_sample.csv")

data

In [8]:
## Loading the first rows

In [9]:
data.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [10]:
## Loading the last rows

In [11]:
data.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
#the delimiter is used for txt files to indicate the spacing b/n the data
data_2 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [13]:
data_2

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
##creates a deep copy of your data( this copy is not altered )
df = data.copy()

In [15]:
data.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [16]:
## Get the index or the row label of the dataframe
data_2.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
      dtype='int64', length=150)

In [17]:
## OR ....Get the index or the row label of the dataframe
df.index

RangeIndex(start=0, stop=150, step=1)

In [18]:
## Gets the columns of the data set
df.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [19]:
## iterates to print out the columns in the data set
for each_col in df.columns:
    print(each_col)

Unnamed: 0
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

In [20]:
##Get the size of thr dataframe
df.size

900

In [21]:
## Get the data shape
df.shape

(150, 6)

In [22]:
print(f"The total number of rows: {df.shape[0]}, the total number of columns: {df.shape[1]}")

The total number of rows: 150, the total number of columns: 6

In [23]:
df.ndim

2

In [24]:
## Accessing a single column role pair
df.at[0,"SepalLengthCm"]

'5.1'

In [25]:
## OR...Accessing a single column role pair by integer postion
df.iat[0 , 1]

'5.1'

In [26]:
##Aceesing a group of rows by their label
df.loc[0:10,"SepalLengthCm"]

0     5.1
1     4.9
2     4.7
3      ??
4       5
5     5.4
6     4.6
7       5
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: object

In [27]:
df.iloc[0 : 3]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa

In [28]:
df.loc[ 0:150,"SepalLengthCm" : "PetalLengthCm"]

    SepalLengthCm  SepalWidthCm PetalLengthCm
0             5.1           3.5           1.4
1             4.9           NaN           1.4
2             4.7           3.2           1.3
3              ??           3.1           1.5
4               5           3.6           ###
..            ...           ...           ...
145           6.7           3.0           5.2
146           6.3           2.5             5
147           6.5           3.0           5.2
148           6.2           3.4           5.4
149           5.9           3.0           5.1

[150 rows x 3 columns]

In [29]:
## return a summary of our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [30]:
df.SepalLengthCm.unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [31]:
#selecting a data fram base on the type of the data
data.select_dtypes(exclude = ["object"])

     Unnamed: 0  SepalWidthCm  PetalWidthCm
0             1           3.5           0.2
1             2           NaN           0.2
2             3           3.2           0.2
3             4           3.1           0.2
4             5           3.6           0.2
..          ...           ...           ...
145         146           3.0           2.3
146         147           2.5           1.9
147         148           3.0           2.0
148         149           3.4           2.3
149         150           3.0           1.8

[150 rows x 3 columns]

In [34]:
df.loc[0:100,"SepalLengthCm" : "Species"]

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5           1.4           0.2      Iris-setosa
1             4.9           NaN           1.4           0.2              NaN
2             4.7           3.2           1.3           0.2      Iris-setosa
3              ??           3.1           1.5           0.2      Iris-setosa
4               5           3.6           ###           0.2      Iris-setosa
..            ...           ...           ...           ...              ...
96            5.7           2.9           4.2           1.3  Iris-versicolor
97            6.2           2.9           4.3           1.3  Iris-versicolor
98            5.1           2.5             3           1.1  Iris-versicolor
99            5.7           2.8           4.1           1.3  Iris-versicolor
100           6.3           3.3             6           2.5   Iris-virginica

[101 rows x 5 columns]